

<h1>This is New page</h1>
<button hx-get="/index" hx-target="#_main" hx-indicator="#preloader">Go To HX-Index</button>
<button hx-get="/about" hx-target="#_main" hx-indicator="#preloader">Go To HX-About</button>
<button id="pr">Print Text</button>
<div id="test"></div>

{{ items }}
{% for n in items %}
    <div>{{ n }}</div>
{% endfor %}

<script>
    if (typeof btn === 'undefined') {
        const btn = document.getElementById("pr")
        btn.addEventListener("click", () => {
            callPYWrite('new')
        })

        eel.expose(js_write);
        function js_write(text) {
            document.getElementById("test").innerHTML = `<h1>This is New, the lazy loaded text is ${ text }.`
        }
    }
</script>
